<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Group input</title>
</head>
<body>
    <div>
        <span th:if="${response} != null" th:text="'Response: '+${response}"/>
    </div>
    <div th:if="${validation_errors} != null">
        <ul>
            <li>Name must contain at least 2 characters</li>
            <li>URI mustn't be empty</li>
        </ul>
    </div>
    <form th:action="@{/group_input}" method="post">
        <input type="text" name="groupName" placeholder="Group name"/>
        <input type="text" name="groupURI" placeholder="Group URI"/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>